<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sharding.interfaces.OrderMapper">

    <select id="selectOrderListByIdList" resultType="java.util.Map">
        SELECT t.order_id,t.order_status,t.price,t.user_id
        FROM t_order AS t WHERE t.order_id IN
        <foreach collection="idList" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>